# VSCodeの個人環境設定
.vscode/settings.json

# Node.js
**/node_modules/
**/dist/

# 環境変数・秘密情報
.env
.env.*
!.env.example

# ログ
*.log

# OS
.DS_Store
Thumbs.dbchikekan_requirements_design_sample.pdf

/chikekan_requirements_design_sample.pdf
